.navbar {
  background: #ebf8ff;
  height: 85px;
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.7s;
}

.navbar.active {
  background: #c53030;
  transition: 0.7s;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 25px;
  list-style: none;
  text-align: center;
  width: 80vw;
  justify-content: end;
  //   margin-right: 32px;
  margin-top: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 16px;
  height: 100%;
  font-weight: 500;
  font-size: 20px;
}

.navbarText.active {
  color: white;
  transition: 0.7s;
}

.navbarText {
  color: #0c6baa;
}

strong {
  display: inline-block;
  width: 120px;
  border: 3px solid white;
  text-align: center;
}

@media screen and (max-width: 414px) {
  .nav-menu {
    justify-content: center;
  }
}
