@import url('https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css');
@import url('https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css');
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.px-16 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* .loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: pink;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
} */
